.container{
    width:520px;
    height: 500px;
    margin-left:450px;
    margin-right:450px;
    margin-top:100px;
}
h1{
    text-align:center;
}
.box{
    border:2px solid black;
    margin-left: 110px;
    width:300px;
    height:470px;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    justify-content: center;
   align-items: center;
   border-radius:20px;
   background: black;
}
#input{
    border:2px solid white;
    margin-top:-12.5px;
    border-radius:16px;
    height:80px;
    grid-column:1/5;
    color:white;
  font-size: 40px;
  text-align: right;
  padding-top:15px;
}
button{
    border-radius: 190px;
   width:40px;
   height:40px;
   justify-self: center;
  align-self:start;
  font-weight: bold;
  font-size: large;
  
   
}
button:hover{
    background: aqua;
}
@media only screen and (max-width:600px){
    body{
        background: black;
    }
    h1{
        display:none;
    }
.container{
   margin-left:-5px;
   margin-top:0;
   border:2px solid black;


}
.box{
    border:2px solid black;
    width:95vw;
    height:100vh;
    display:grid;
    grid-template-columns:repeat(4,1fr);
   border-radius:20px;
   background: black;
   margin-left: -1px;
}
#input{
    border:2px solid white;
    margin-top:-30px;
    border-radius:16px;
    height:80px;
    grid-column:1/5;
    color:white;
  font-size: 40px;
  text-align: right;
  padding-top:15px;
}
}

