*{
    margin:0;
    padding: 0;
    font-family:'popins,san-serif';
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: black;
    color:white;
}
#header{
    width: 100%;
    height:70vh;

}
.container{
    padding: 10px 6%;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline;
    list-style: none;
    margin:10px 20px;
}
nav ul li a{
    text-decoration: none;
    position: relative;
    color: white;
}
nav ul li a::after{
     content: '';
     width: 0;
     height: 3px;
     color: blue;
     background: rgb(234, 62, 62);
     position:absolute;
     left:0px;
     bottom:-6px;
     transition: 0.5s;
     
}
nav ul li a:hover{
    color:rgb(216, 101, 35);
    font-size: large;
}
nav ul li a:hover::after{
    width:100%; 
}
nav .fa-solid{
    display:none;
}
.header-text{
    margin-top: 10%;
    font-size: 25px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 10px;
}
.header-text h1 span{
    color:rgb(241, 81, 107);
}
.header-text img{
    display: block;
    width:300px;
    margin-top: -200px;
    margin-left: auto;
    margin-right: -20px;
    border-radius: 30px;
}
#about{
    margin: 80px 0;
    color:white;
}
.row{
    display: flex;
    justify-content: space-between;
}
.about-col-1{
    flex-basis:45%; 
}
.about-col-1 img{
    width:35vw;
    border-radius:300px; 
} 
.about-col-2{
    flex-basis:60%; 
}

.about-col-2 p{
    padding:10px 0 2px;
    font-size:17px;
}
.tab-titles{
    display: flex;
    margin:20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    padding:1px;
   
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 2px;
    background: rgb(234, 62, 62);
    position: absolute;
    left:0;
    bottom:-8px;
    transition: 0.5s;
}
.tab-links.active-links::after{
    width:50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 20px 0 20px;
}
.tab-contents ul li span{
    font-size: 15px;
    color:rgb(211, 124, 104);
   
}

.tab-contents{
    display:none;
}
.tab-contents.active-tab{
    display:block;
}

#work{
    padding:30px 0;
}
.work-list{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;

}

.work-list div{
    background: rgb(34, 33, 33);
    padding: 40px;
    font-size: 14px;
    border-radius: 20px;
    transition: background 0.5s,transform 0.5s;

}
.work-list div i{
    font-size: 40px;
    margin-top:20px;
    margin-bottom: 10px;
}
.work-list div h2{
    font-size: 21px;
    margin-bottom:15px;
}
.work-list div a{
    text-decoration: none;
    color:white;
    font-size: 18px;
    margin-top:20px;
    display:inline-block;
}
.work-list div a:hover{
    color: rgb(127, 229, 72);
    font-size: 20px;
}
.work-list div:hover{
    background: rgb(231, 18, 54);
    transform: translateY(-10px);
    
}
.contact-left{
    flex-basis: 35%;
    position: relative;
    
    
}
.contact-left p{
    margin-top:10px;
    margin-bottom: 10px;
}
.contact-left h1{
    margin-bottom: 15px;
}
.contact-right{
    flex-basis: 60%;

}
.contact-left p i{
    margin-right:5px;
    color: rgb(217, 85, 107);
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right:15px;
    color:white;
    transition: 0.5s;
    display:inline-block;
}

.social-icons a:hover{
    color:rgb(178, 55, 75);
    transform:translateY(-5px);
}
.btn{
    border:1px solid black;
    border-radius:5px;
    margin-top:15px;
    padding: 10px;
    display:inline-block;
    background: rgb(189, 25, 53);
    text-decoration: none;
    color: white;
}
.contact-right form{
   width:100%;
}
form input,form textarea{
    width: 100%;
    border:0;
    outline:none;
    background:rgb(18, 18, 18);
    padding:15px;
    margin:15px 0;
    color:white;
    font-size: 15px;
    border-radius:6px;
}
form .btn{
    cursor:pointer;
}
#msg{
    color:green;
    display: block;
    margin-top:-60px;
}
#msg .fa-regular{
    border-radius:20px;
    background: green;
    color: white;
    margin-right:5px;
    
    
}
#msg .fa-regular.btn.clicked::after{
    display:block;
}

@media only screen and (max-width:600px) {
    #header{
        width: 100%;
        height:50vh;
    
    }
    .header-text p{
        font-size: 15px;
    }
    .header-text h1{
        font-size: 30px;
    }
    .header-text img{
        display: block;
        width:100px;
        margin-top: -28px;
        margin-left: 250px;
        margin-right: auto;
        border-radius: 20px;
    }
    nav .fa-solid{
        display:block;
        font-size: 25px;
    }
    
    nav ul {
        background: rgb(231, 18, 54);
        position:fixed;
        top:0;
        right: -300px;
        width:300px;
        height:100vh;
        padding-top:50px;
        z-index: 2;
        transition:right 0.5s;
    }
    nav ul li{
        display:block;
        margin:20px 10px;
    }
    nav ul .fa-solid{
        position: absolute;
        top:25px;
        left:25px;
        cursor:pointer;
    }
    nav .logo{
        width:240px;
    }
    
    nav ul li a::after{
        background: black;
    }
    nav ul li a:hover{
        color:rgb(181, 214, 46);
        font-size: large;
    }
    nav ul li a:hover::after{
        width:100%; 
    }
    .row{
        display: block;
        height: 100vh;
       
    }
    .about-col-1 .image{
        width:200px;
        display: block;
        margin-top: -50px;
        margin-left: auto;
        margin-right: auto;
    }
    .sub-title{
        margin-top:15px;
    }
    

    
    
}
